<app-header></app-header>
<ion-img class="mt--104" src="/assets/icon/map.jpg"></ion-img>

<div [routerLink]="['/confirm-ride']" class="driverWaiting ion-text-start">
    <p class="font16 fontw600 text-white lh20">Ride Request Expired!</p>
    <p class="font12 fontw400 text-white">We are searching for your next ride request.</p>

</div>

<ion-footer class="ion-no-border ion-color-white position-absolute d-flex ion-justify-content-end">
    <ion-img class="w-46 mx-20" src="/assets/icon/current-location.svg"></ion-img>
</ion-footer>
