<ion-content #content fullscreen="true" class="container" >
  <ion-row class="login_top">
    <ion-col
      size="12"
      class="d-flex ion-wrap ion-justify-content-start headTop"
    >
      <ion-button
        [routerLink]="['/phone-verify']"
        fill="clear"
        class="ion-no-padding m-0"
      >
        <ion-icon
          src="/assets/icon/back.svg"
          class="arrowback m-0"
          size=""
          slot="start"
        ></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-grid class="login_center position-relative mt-40 pt-40">
    <ion-row>
      <ion-col size="12" class="px-0 w-100 ion-text-center">
        <ion-img
          class="lock-img mx-auto d-block"
          src="/assets/icon/lock-img.svg"
        ></ion-img>
        <h1 class="font24 fontw700 lh24 text-black opacity75 mt-40">
          Enter Verification Code
        </h1>
        <p class="font16 fontw400 lh20 text-grey-71 mt-5">
          Input the 6 digit code that we have sent to
        </p>
        <p
          class="
            font16
            fontw600
            lh20
            text-black
            mt-5
            d-flex
            ion-justify-content-center
          "
        >
          <span>{{phone}}</span>
          <ion-img
            [routerLink]="['/phone-verify']"
            class="ml-10 edit"
            src="/assets/icon/edit-pen.svg"
          ></ion-img>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="">
    <form [formGroup]="ngForm" class="phone-verify-form">
      <ion-row>
        <ion-col size="12" class="px-0 w-100 ion-text-center">
          <div
            class="
              mb-30
              w-100
              ion-no-padding
              d-flex
              ion-justify-content-center
              mt-20
              no-border
              px-30
            "
          >
            <!--  -->

            <ion-input
              name="code_0"
              #code_0
              formControlName="code_0"
              class="otpInput ion-no-padding"
              [ngClass]="getClassOfCode(f,'code_0')"
              required="true"
              type="number"
              placeholder=""
              (keyup)="handleKeyUp($event)"
              (keydown)="handleKeyDown($event)"
              [clearOnEdit]="true"
            ></ion-input>
            <!--  -->

            <!--  -->
            <ion-input
              name="code_1"
              #code_1
              formControlName="code_1"
              class="otpInput ion-no-padding ml-8"
              [ngClass]="getClassOfCode(f,'code_1')"
              required="true"
              type="number"
              placeholder=""
              (keyup)="handleKeyUp($event)"
              (keydown)="handleKeyDown($event)"
              [clearOnEdit]="true"
            ></ion-input>
            <!--  -->

            <!--  -->
            <ion-input
              name="code_2"
              #code_2
              formControlName="code_2"
              class="otpInput ion-no-padding ml-8"
              [ngClass]="getClassOfCode(f,'code_2')"
              required="true"
              type="number"
              placeholder=""
              (keyup)="handleKeyUp($event)"
              (keydown)="handleKeyDown($event)"
              [clearOnEdit]="true"
            ></ion-input>
            <!--  -->

            <!--  -->
            <ion-input
              name="code_3"
              #code_3
              formControlName="code_3"
              class="otpInput ion-no-padding ml-8"
              [ngClass]="getClassOfCode(f,'code_3')"
              required="true"
              type="number"
              placeholder=""
              (keyup)="handleKeyUp($event)"
              (keydown)="handleKeyDown($event)"
              [clearOnEdit]="true"
            ></ion-input>
            <!--  -->

            <!--  -->
            <ion-input
              name="code_4"
              #code_4
              formControlName="code_4"
              class="otpInput ion-no-padding ml-8"
              [ngClass]="getClassOfCode(f,'code_4')"
              required="true"
              type="number"
              placeholder=""
              (keyup)="handleKeyUp($event)"
              (keydown)="handleKeyDown($event)"
              [clearOnEdit]="true"
            ></ion-input>
            <!--  -->

            <!--  -->
            <ion-input
              name="code_5"
              #code_5
              formControlName="code_5"
              class="otpInput ion-no-padding ml-8"
              [ngClass]="getClassOfCode(f,'code_5')"
              required="true"
              placeholder=""
              type="number"
              (keyup)="handleKeyUp($event)"
              (keydown)="handleKeyDown($event)"
              [clearOnEdit]="true"
            ></ion-input>
            <!--  -->
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border ion-color-white">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col
        size="12 "
        class="d-flex ion-wrap ion-justify-content-center pt-0 pb-0 px-20 mb-0"
      >
        <div
          class="
            d-flex
            flex-column
            w-100
            ion-align-items-center ion-justify-content-center ion-text-center
          "
        >
          <ion-button
            (click)="verifyCode()"
            color="light "
            fill="clear "
            class="
              btn-primary
              w-100
              ion-no-margin ion-no-padding
              text-white
              fontw700
              font17
              ion-text-center
            "
            [disabled]="continueDisable"
          >
            <span
              >Continue
              <ion-spinner
                *ngIf="showLoadingSpin"
                style="
                  width: 20px;
                  height: 20px;
                  color: white;
                  margin-left: 20px;
                "
                name="circular"
              ></ion-spinner>
            </span>
          </ion-button>
          <p class="font16 fontw500 text-red mt-15">
            00:{{ timeLeft < 10 ? '0'+timeLeft : timeLeft }}
          </p>
          <p class="font14 fontw400 lh24">
            Haven't received the code yet?
            <br />
            <span
              class="font14 fontw600 text-black"
              [ngClass]='{"disabled": resendDisable}'
              (click)="resendOtpCode()"
              >Resend Code
              <ion-spinner
                *ngIf="showLoadingSpinResendCode"
                style="
                  width: 20px;
                  height: 20px;
                  color: black;
                  margin: auto auto -5px 10px;
                "
                name="circular"
              ></ion-spinner>
            </span>
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
