<!-- <ion-input
  name="fieldName"
  formControlName="fieldName"
  autocomplete="new-password"
  [ngClass]="{
    'shake-effect-apply': shakeEffect,
    'has-error':
      f['fieldName'].dirty && f['fieldName'].touched && f['fieldName'].errors
  }"
  color="dark"
  required="true"
  type="text"
  placeholder="Enter fieldName"
></ion-input>
<div
  *ngIf="
    f['fieldName'].invalid && (f['fieldName'].dirty || f['fieldName'].touched)
  "
>
  <p
    *ngIf="f['fieldName'].errors && f['fieldName'].errors['required']"
    class="text-red-light font12 fontwbold"
  >
    fieldName is required.
  </p>
</div> -->
