<app-header></app-header>
<ion-img class="menu" src="/assets/icon/map.jpg"></ion-img>

<p class="driverWaiting green">Searching for Rides...</p>

<ion-footer class="ion-no-border ion-color-white position-absolute">
    <ion-grid class="ion-no-padding">
        <ion-row class="footer">
            <ion-col size="12" class="ion-no-padding ion-text-end">
                <ion-button [routerLink]="['/confirm-ride']" color="light" fill="clear" class="btn-primary ion-no-margin w-100 ion-no-padding text-white fontw700 font17 ion-text-center">
                    <span>Let’s Boogie Live!</span>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
