<!-- <capacitor-google-map id="map"></capacitor-google-map>
<ion-button (click)="loadMap()">LoadMap</ion-button> -->

<div id="map" style="display: block; width: 100%; height: 200px"></div>
<ion-button (click)="loadMap()">LoadMap</ion-button>
<ion-button (click)="changeRoute()">Change Route</ion-button>

<div id="container">
  <ion-button (click)="handleHomeAPI()">API Test</ion-button>
  <ion-button [routerLink]="['/login']">login</ion-button>
</div>
<div id="container2">
  <capacitor-google-map id="map"></capacitor-google-map>
  <ion-button [routerLink]="['/home']">Home</ion-button>
</div>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="addPhotoToGallery()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-grid>
  <ion-row>
    <ion-col
      size="6"
      *ngFor="let photo of photoService.photos; index as position"
    >
      <ion-img [src]="photo.webviewPath"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
