<!-- <ion-modal
  #modal
  class="modalMain"
  trigger="open-modal"
  [showBackdrop]="false"
  [initialBreakpoint]="0.7"
  [breakpoints]="[0.7, 0.25]"
  handleBehavior="cycle"
  [backdropDismiss]="false"
  [isOpen]="true"
> -->
<div class="modalMain">
  <div class="modalContainerUp">
    <div class="modalContainer px-0">
      <div class="head d-flex px-20 pb-25">
        <div>
          <ion-img
            class="user-small-icon userCircleLg"
            src="{{ data.driverData.profile_image }}"
          ></ion-img>
        </div>
        <div class="flex-fill w-100 ml-15">
          <h4 class="font15 fontw600 text-black mt-0 mb-5">
            {{ data.driverData.name }}
          </h4>
        </div>
        <div class="ion-text-center min126 d-flex ion-justify-content-end">
          <ion-img
            (click)="callRider('+923434188587')"
            class="w-44"
            src="/assets/icon/phone-2.svg"
          ></ion-img>
          <ion-img
            (click)="handleOpenChatPage()"
            class="w-44 email"
            src="/assets/icon/email-2.svg"
          ></ion-img>
        </div>
      </div>

      <ion-row class="m-0 px-30">
        <ion-col
          size="12"
          class="ion-no-padding d-flex ion-justify-content-center"
        >
          <ion-button
            color="light"
            fill="clear"
            class="
              ml-30
              w-100
              ion-no-margin ion-no-padding
              btn-primary
              fontw700
              font16
              ion-text-center
            "
            (click)="handleArrived()"
          >
            <span>ARRIVED</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>
<!-- </ion-modal> -->
