<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6601258B2C9931F2FB65A6B0C1EA84463A8EBB89</string>
				<key>dateExpires</key>
				<string>14/06/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6601258B2C9931F2FB65A6B0C1EA84463A8EBB89</string>
						<key>dateExpires</key>
						<string>14/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PWWVLW72ZB</string>
						<key>name</key>
						<string>Boogie Ride, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6601258B2C9931F2FB65A6B0C1EA84463A8EBB89</string>
						<key>dateExpires</key>
						<string>14/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PWWVLW72ZB</string>
						<key>name</key>
						<string>Boogie Ride, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6601258B2C9931F2FB65A6B0C1EA84463A8EBB89</string>
						<key>dateExpires</key>
						<string>14/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PWWVLW72ZB</string>
						<key>name</key>
						<string>Boogie Ride, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6601258B2C9931F2FB65A6B0C1EA84463A8EBB89</string>
						<key>dateExpires</key>
						<string>14/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorGeolocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PWWVLW72ZB</string>
						<key>name</key>
						<string>Boogie Ride, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6601258B2C9931F2FB65A6B0C1EA84463A8EBB89</string>
						<key>dateExpires</key>
						<string>14/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorHaptics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PWWVLW72ZB</string>
						<key>name</key>
						<string>Boogie Ride, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6601258B2C9931F2FB65A6B0C1EA84463A8EBB89</string>
						<key>dateExpires</key>
						<string>14/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PWWVLW72ZB</string>
						<key>name</key>
						<string>Boogie Ride, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6601258B2C9931F2FB65A6B0C1EA84463A8EBB89</string>
						<key>dateExpires</key>
						<string>14/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorScreenshot.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PWWVLW72ZB</string>
						<key>name</key>
						<string>Boogie Ride, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6601258B2C9931F2FB65A6B0C1EA84463A8EBB89</string>
						<key>dateExpires</key>
						<string>14/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PWWVLW72ZB</string>
						<key>name</key>
						<string>Boogie Ride, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6601258B2C9931F2FB65A6B0C1EA84463A8EBB89</string>
						<key>dateExpires</key>
						<string>14/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PWWVLW72ZB</string>
						<key>name</key>
						<string>Boogie Ride, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6601258B2C9931F2FB65A6B0C1EA84463A8EBB89</string>
						<key>dateExpires</key>
						<string>14/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CordovaPlugins.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PWWVLW72ZB</string>
						<key>name</key>
						<string>Boogie Ride, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PWWVLW72ZB.com.boogie.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PWWVLW72ZB</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>71e64776-88c9-4b27-82d5-3551a4a5841a</string>
				<key>dateExpires</key>
				<string>14/06/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PWWVLW72ZB</string>
				<key>name</key>
				<string>Boogie Ride, LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
