.container {
    --padding-bottom: 50px;
    --background: #F6F6F6;
}

.login_center {
    padding: 23px 21px 0 21px;
}

.accourdian {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.accourdianHead {
    --background: #F9FAFB;
}

.arrowdown {
    width: 24px;
}

.arrowback {
    width: 16px;
    margin-right: -10px;
}

.selectItem {
    margin-bottom: 30px !important;
}
