<ion-content>
  <div class="h-100 w-100">
    <div
      class="
        d-flex
        ion-align-items-center
        flex-column
        ion-justify-content-between
        h-100
        px-40
      "
    >
      <div class="ion-text-center mt-40">
        <h1 class="font18 fontw500 lh28 text-black mt-40">
          Your 6 digit code has <br />
          been resent.
        </h1>
      </div>
      <div class="mb-30 ion-text-center">
        <ion-button
          color="light "
          fill="clear "
          class="
            btn-primary
            w-124
            mx-auto
            d-block
            ion-no-margin ion-no-padding
            text-white
            fontw700
            font17
            ion-text-center
          "
          (click)="cancel()"
        >
          <span>OK </span>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
